// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
  margin: 18px 0;
}

div {
  margin: 33px;
}

.a {
  margin: 33px 33px 16px 33px;
}

.b {
  margin: 17px 33px 17px 33px;
}

.c {
  margin: 16px 33px 33px 33px;
}